body{
    padding: 60px;
    margin: 50px;
}

a.button{
    background-color: orange;
    transition-property: background-color, transform;
    
    transition-duration: 1.5s, 4s;
    display: inline-block;
    transition-delay: 300ms;
}
    


a.button:hover{
    background-color: blue;
    color: chartreuse;
    transform: scale(2);
    display: inline-block;
    
}